* {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  width: 100%;
  border-bottom: 1px solid black;
}

li {
  display: inline;
  margin: 10px;
}

.dot-img {
  width: 25px;
  height: 25px;
}

ion-icon {
  font-size: 25px;
  color: black;
  position: relative;
  top: 6px;
}

.right-nav {
  align-items: center;
}
